# Временные файлы GoLand / JetBrains
.idea/

# Бинарные файлы и исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
crawler-cli

# Логи и результаты работы программы
*.log
crawler.log
result.json
*.json

# Временные файлы ОС
.DS_Store
Thumbs.db